

.main{
	width: 99%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 15px;
	background-color: wheat;
	margin-left: 10px;
}

.name{
	font-size: 300%;
	font-family: monospace;
}

